<!DOCTYPE hmtl>
<html>
  <head>
    <title>Jovian Careers</title>
  </head>
  <body>
    <h1>Jovian Careers</h1>
    <img src="https://jovian-web-training.ptuan5.repl.co/static/banner.jpg" height="320"/>
    <h2>About Jovian</h2>
    <p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat eget quam sit amet ullamcorper. Praesent ultricies commodo ante, in mollis arcu scelerisque eu. Suspendisse et aliquet sem, ut laoreet mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vehicula dignissim sem, vestibulum elementum ligula iaculis vel. Fusce et cursus magna. Sed eget facilisis ante. Aenean posuere odio dolor, at cursus velit venenatis non. Suspendisse et risus lectus. Nullam laoreet ex tortor, non ultricies ipsum aliquam in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis aliquet sit amet ante quis posuere.
    </p>
    <h2>Open Positions</h2>
    <p> Job 1 </p>
    <button> Apply </button>
  </body>
</html>